.shadow{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
h1,h2,h4{
    font-family: "Playfair Display";
    letter-spacing: 3px;
}
.navbar-brand{
    font-family: "Playfair Display";
    letter-spacing: 4px;
    

}
.navbar-nav{
    white-space: normal;
    padding: 1% 2% 2% 1%;
}
.navbar-brand:hover{
    
      transform:  translateY(-30%);
      font-size:30px;
     
      transition-delay: 0s;
      color:red !important;
}